.header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  border-bottom: 1px solid black;
  background-color: rgb(210, 240, 233);
}

.authNav {
  display: flex;
  gap: 15px;
  font-size: 16px;
}

.navLink:active,
.nvLink:focus,
.navLink:hover {
  color: darkolivegreen;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}
