@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding: 0 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: 1px solid green;
margin-left: 5px;
margin-right: 20px;  
  padding: 5px;
}

input:focus,
input:hover {
  background-color: green;
  border: 1px solid black;
  color: white;
}

button {
  background-color: greenyellow;
  border-radius: 20px;
  margin-left: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
